asgiref
bcrypt
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi
charset-normalizer==3.4.1
Django
django-environ==0.12.0
djangorestframework==3.15.2
idna==3.10
iniconfig
newsapi-python==0.2.7
packaging
pillow
pluggy
pycparser
pytest
python-dotenv==1.0.1
requests==2.32.3
setuptools==75.8.0
six
soupsieve==2.6
sqlparse
typing_extensions==4.12.2
urllib3==2.3.0
wheel==0.45.1
